.box {
  width: 100%;
  margin-top: 120px;
}

.headerLight {
  font-family: "Wix Madefor Text";
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 124px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -1px;
  color: #32437b;
  text-transform: uppercase;
  margin: 0px;
  justify-content: center;
}

.headerDark {
  font-family: "Wix Madefor Text";
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 124px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -1px;
  color: #d76f00;
  text-transform: uppercase;
  margin: 0px;
  justify-content: center;
}
@media (max-width: 1200px) {
  .headerLight {
    font-size: 76px;
  }
  .headerDark {
    font-size: 76px;
  }
}

@media (max-width: 700px) {
  .headerLight {
    font-size: 60px;
  }
  .headerDark {
    font-size: 60px;
  }
}

@media (max-width: 580px) {
  .box {
    margin-top: 60px;
  }
  .headerLight {
    font-size: 55px;
  }
  .headerDark {
    font-size: 55px;
  }
}

@media (max-width: 460px) {
  .box {
    margin-top: 30px;
  }
  .headerLight {
    font-size: 45px;
  }
  .headerDark {
    font-size: 45px;
  }
}

@media (max-width: 370px) {
  .box {
    margin-top: 0px;
  }
  .headerLight {
    font-size: 40px;
  }
  .headerDark {
    font-size: 40px;
  }
}
