.projectBoxRight {
  position: relative;
  left: calc((100% - 1250px) / 2);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 1250px;
  height: 356px;
}

.projectBoxLeft {
  position: relative;
  left: calc((100% - 1250px) / 2);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  width: 1250px;
  height: 356px;
}

.previewImg {
  width: 568px;
  height: 306px;
}

.textBox {
  display: flex;
  flex-direction: column;
  width: 375px;
  justify-content: space-evenly;
}

.iconBoxLight:first-of-type {
  margin: 0px;
}
.iconBoxDark:first-of-type {
  margin: 0px;
}

.iconBoxLight {
  width: 50px;
  height: 50px;
  background: #f8ebe2;
  border-radius: 100%;
  border: none;
  margin-left: 20px;
  transition: 0.4s;
}
.iconBoxDark {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: none;
  margin-left: 20px;
  transition: 0.4s;
  background: #d76f00;
}

.iconBoxLight:hover {
  background-color: #494e5f;
  fill: #f1f1f1;
  transition: 0.4s;
  cursor: pointer;
}
.iconBoxDark:hover {
  background-color: #494e5f;
  fill: #f1f1f1;
  transition: 0.4s;
  cursor: pointer;
}

.iconLight {
  position: relative;
  padding: 10px;
  width: 30px;
  height: 30px;
  fill: #060b0b;
}

.iconDark {
  position: relative;
  padding: 10px;
  width: 30px;
  height: 30px;
  fill: #f1f1f1;
}

.iconLight:hover {
  fill: white;
}
.iconDark:hover {
  fill: #d76f00;
}

.descriptionLight {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  color: #494e5f;
}

.descriptionDark {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  color: #f1f1f1;
}

.linkBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.dividerLight {
  height: 11px;
  width: 80px;
  align-self: center;
  fill: #060b0b;
  margin-bottom: 20px;
}
.dividerDark {
  height: 11px;
  width: 80px;
  align-self: center;
  fill: #f1f1f1;
  margin-bottom: 20px;
}

.projectHeaderLight {
  font-family: "Hannari";
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -0.5px;
  color: #494e5f;
  text-align: center;
  margin: 0px;
}

.projectHeaderDark {
  font-family: "Hannari";
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -0.5px;
  color: #f1f1f1;
  text-align: center;
  margin: 0px;
}
