.projectBoxRight {
  position: relative;
  left: calc((100% - 1250px) / 2);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 1250px;
  height: 100%;
}

.projectBoxLeft {
  position: relative;
  left: calc((100% - 1250px) / 2);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  width: 1250px;
  height: 100%;
  align-items: center;
}

.previewImg {
  width: 568px;
  height: 306px;
}

.textBox {
  display: flex;
  flex-direction: column;
  width: 375px;
  justify-content: space-evenly;
}

.iconBoxLight:first-of-type {
  margin: 0px;
}
.iconBoxDark:first-of-type {
  margin: 0px;
}

.iconBoxLight {
  width: 50px;
  height: 50px;
  background: #f8ebe2;
  border-radius: 100%;
  border: none;
  margin-left: 20px;
  transition: 0.4s;
}
.iconBoxDark {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: none;
  margin-left: 20px;
  transition: 0.4s;
  background: #d76f00;
}

.iconBoxLight:hover {
  background-color: #494e5f;
  fill: #f1f1f1;
  transition: 0.4s;
  cursor: pointer;
}
.iconBoxDark:hover {
  background-color: #494e5f;
  fill: #f1f1f1;
  transition: 0.4s;
  cursor: pointer;
}

.iconLight {
  position: relative;
  padding: 10px;
  width: 30px;
  height: 30px;
  fill: #060b0b;
}

.iconDark {
  position: relative;
  padding: 10px;
  width: 30px;
  height: 30px;
  fill: #f1f1f1;
}

.iconLight:hover {
  fill: white;
  transition: 0.4s;
}
.iconDark:hover {
  fill: #d76f00;
  transition: 0.4s;
}

.descriptionLight {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  color: #494e5f;
}

.descriptionDark {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  color: #f1f1f1;
}

.linkBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.dividerLight {
  height: 11px;
  width: 80px;
  align-self: center;
  fill: #060b0b;
  margin-bottom: 20px;
}
.dividerDark {
  height: 11px;
  width: 80px;
  align-self: center;
  fill: #f1f1f1;
  margin-bottom: 20px;
}

.projectHeaderLight {
  font-weight: 500;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -0.5px;
  color: #494e5f;
  text-align: center;
  margin: 0px;
}

.projectHeaderDark {
  font-weight: 500;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -0.5px;
  color: #f1f1f1;
  text-align: center;
  margin: 0px;
}

@media (max-width: 1200px) {
  .previewImg {
    width: 488px;
    height: 286px;
    margin-top: 30px;
  }
  .projectHeaderLight {
    font-size: 42px;
  }
  .projectHeaderDark {
    font-size: 42px;
  }
  .projectBoxRight {
    width: 1050px;
    left: calc((100% - 1050px) / 2);
  }
  .projectBoxLeft {
    width: 1050px;
    left: calc((100% - 1050px) / 2);
  }
}

@media (max-width: 1050px) {
  .previewImg {
    width: 408px;
    height: 236px;
    margin-top: 60px;
  }
  .projectBoxRight {
    width: 830px;
    left: calc((100% - 830px) / 2);
  }
  .projectBoxLeft {
    width: 830px;
    left: calc((100% - 830px) / 2);
  }
  .projectHeaderLight {
    font-size: 38px;
  }
  .textBox {
    width: 300px;
  }
  .iconBoxLight {
    width: 40px;
    height: 40px;
  }
  .iconLight {
    width: 20px;
    height: 20px;
  }
  .iconBoxDark {
    width: 40px;
    height: 40px;
  }
  .iconDark {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 850px) {
  .projectBoxLeft {
    flex-direction: column;
    width: 528px;
    height: 640px;
    left: calc((100% - 528px) / 2);
  }
  .projectBoxRight {
    flex-direction: column;
    width: 528px;
    height: 640px;
    left: calc((100% - 528px) / 2);
  }
  .textBox {
    width: 528px;
    margin-top: 50px;
  }
  .previewImg {
    width: 528px;
    height: 356px;
    left: 100px;
  }
  .iconBoxLight {
    width: 50px;
    height: 50px;
  }
  .iconLight {
    width: 30px;
    height: 30px;
  }
  .iconBoxDark {
    width: 50px;
    height: 50px;
  }
  .iconDark {
    width: 30px;
    height: 30px;
  }
  .linkBox {
    margin-top: 30px;
  }
}

@media (max-width: 700px) {
  .projectBoxLeft {
    width: 488px;
    left: calc((100% - 488px) / 2);
  }
  .projectBoxRight {
    width: 488px;
    left: calc((100% - 488px) / 2);
  }
  .textBox {
    width: 488px;
  }
  .previewImg {
    width: 488px;
    height: 306px;
  }
}

@media (max-width: 580px) {
  .projectBoxLeft {
    width: 418px;
    left: calc((100% - 418px) / 2);
  }
  .projectBoxRight {
    width: 418px;
    left: calc((100% - 418px) / 2);
  }
  .textBox {
    width: 418px;
  }
  .previewImg {
    width: 418px;
    height: 276px;
  }
  .iconBoxLight {
    width: 45px;
    height: 45px;
  }
  .iconLight {
    width: 25px;
    height: 25px;
  }
  .iconBoxDark {
    width: 45px;
    height: 45px;
  }
  .iconDark {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 460px) {
  .projectBoxLeft {
    width: 348px;
    left: calc((100% - 348px) / 2);
  }
  .projectBoxRight {
    width: 348px;
    left: calc((100% - 348px) / 2);
  }
  .textBox {
    width: 348px;
  }
  .previewImg {
    width: 348px;
    height: 206px;
  }
}

@media (max-width: 370px) {
  .previewImg {
    width: 308px;
    height: 186px;
  }
  .projectBoxLeft {
    width: 308px;
    left: calc((100% - 308px) / 2);
  }
  .projectBoxRight {
    width: 308px;
    left: calc((100% - 308px) / 2);
  }
  .textBox {
    width: 308px;
  }
}
