.box {
  height: 800px;
}

.paragraphBox {
  width: 661px;
  position: relative;
  left: calc((100% - 661px) / 2);
  margin-top: 52px;
  margin-bottom: 52px;
  font-family: "Wix Madefor Text";
}
.headingLight {
  font-size: 46px;
  color: #494e5f;
  margin: 0px;
  font-weight: 400;
}

.headingDark {
  font-size: 46px;
  color: #f1f1f1;
  margin: 0px;
  font-weight: 400;
}

.nameLight {
  margin: 0px;
  font-size: 76px;
  color: #32437b;
  font-weight: 600;
}

.nameDark {
  margin: 0px;
  font-size: 76px;
  color: #d76f00;
  font-weight: 600;
}

.image {
  height: 300px;
  width: 300px;
  border-radius: 100%;
  margin-top: 30px;
}

.unactiveDotLight path {
  fill: #494e5f;
  opacity: 0.2;
}

.unactiveDotLight:hover path {
  fill: white;
  opacity: 1;
}

.activeDotLight path {
  fill: #32437b;
}

.unactiveDotDark path {
  fill: #f1f1f1;
  opacity: 0.4;
}

.unactiveDotDark:hover path {
  fill: black;
  opacity: 1;
}

.activeDotDark path {
  fill: #d76f00;
}

.contentBoxLight {
  height: 200px;
  font-family: "Wix Madefor Text";
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: #494e5f;
}

.contentBoxDark {
  height: 200px;
  font-family: "Wix Madefor Text";
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: #f1f1f1;
}
