.box {
  height: 800px;
}

.paragraphBox {
  width: 661px;
  position: relative;
  left: calc((100% - 661px) / 2);
  margin-top: 52px;
  margin-bottom: 52px;
}
.headingLight {
  font-size: 46px;
  color: #494e5f;
  margin: 0px;
  font-weight: 400;
}

.headingDark {
  font-size: 46px;
  color: #f1f1f1;
  margin: 0px;
  font-weight: 400;
}

.nameLight {
  margin: 0px;
  font-size: 76px;
  color: #32437b;
  font-weight: 600;
}

.nameDark {
  margin: 0px;
  font-size: 76px;
  color: #d76f00;
  font-weight: 600;
}

.image {
  position: relative;
  left: calc((100% - 300px) / 2);
  height: 300px;
  width: 300px;
  background-image: url(../../../images/profileImage.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;
  margin-top: 30px;
}

.unactiveDotLight path {
  fill: #494e5f;
  opacity: 0.2;
}

.unactiveDotLight:hover path {
  fill: white;
  opacity: 1;
}

.activeDotLight path {
  fill: #32437b;
}

.unactiveDotDark path {
  fill: #f1f1f1;
  opacity: 0.4;
}

.unactiveDotDark:hover path {
  fill: black;
  opacity: 1;
}

.activeDotDark path {
  fill: #d76f00;
}

.contentBoxLight {
  height: 210px;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: #494e5f;
}

.contentBoxDark {
  height: 200px;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: #f1f1f1;
}

@media (max-width: 1200px) {
  .image {
    height: 250px;
    width: 250px;
    left: calc((100% - 250px) / 2);
  }
  .nameLight {
    font-size: 60px;
  }
  .nameDark {
    font-size: 60px;
  }
  .paragraphBox {
    margin-top: 30px;
  }
  .contentBoxDark {
    height: 210px;
  }
  .contentBoxLight {
    height: 210px;
  }
}

@media (max-width: 750px) {
  .box {
    height: 750px;
  }
  .headingLight {
    font-size: 36px;
  }
  .headingDark {
    font-size: 36px;
  }
  .nameLight {
    font-size: 54px;
  }
  .nameDark {
    font-size: 54px;
  }
  .image {
    width: 200px;
    height: 200px;
    left: calc((100% - 200px) / 2);
  }
  .paragraphBox {
    width: 400px;
    left: calc((100% - 400px) / 2);
  }
  .contentBoxLight {
    height: 245px;
    font-size: 16px;
  }
  .contentBoxDark {
    height: 245px;
    font-size: 16px;
  }
}

@media (max-width: 460px) {
  .box {
    height: 670px;
  }
  .headingLight {
    font-size: 26px;
  }
  .headingDark {
    font-size: 26px;
  }
  .nameLight {
    font-size: 44px;
  }
  .nameDark {
    font-size: 44px;
  }
  .image {
    width: 160px;
    height: 160px;
    left: calc((100% - 160px) / 2);
  }
  .contentBoxLight {
    font-size: 14px;
    height: 275px;
  }
  .contentBoxDark {
    font-size: 14px;
    height: 275px;
  }
  .paragraphBox {
    width: 300px;
    left: calc((100% - 300px) / 2);
  }
}

@media (max-width: 370px) {
  .nameLight {
    font-size: 30px;
  }
  .nameDark {
    font-size: 30px;
  }
  .headingLight {
    font-size: 18px;
  }
  .headingDark {
    font-size: 18px;
  }
}
