.box {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  height: 1890px;
  width: 100%;
  font-family: "Wix Madefor Text";
  margin-top: -400px;
}
.textBoxLight {
  background-color: #f8ebe2;
}
.textBoxDark {
  background-color: #251822;
}

.topDivider {
  width: 100%;
  height: 390px;
}

.bottomDivider {
  width: 100%;
  height: 390px;
}
