.box {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  height: 1890px;
  width: 100%;
  margin-top: -404px;
}
.topDividerBox {
  margin-bottom: -4px;
}

.topDividerLight {
  background-image: url(../../images/divider/lightTop.png);
  width: 100%;
  height: 307px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -100px;
}

.topDividerDark {
  background-image: url(../../images/divider/darkTop.png);
  width: 100%;
  height: 307px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -100px;
}

.textBoxLight {
  background-color: #f8ebe2;
}
.textBoxDark {
  background-color: #251822;
}

.topDivider {
  position: relative;
  top: -10px;
  width: 100%;
  height: 390px;
}

.bottomDivider {
  width: 100%;
  height: 390px;
}

.bottomDividerLight {
  position: relative;
  top: -10px;
  background-image: url(../../images/divider/lightFooter.png);
  width: 100%;
  height: 307px;
  background-repeat: no-repeat;
  background-size: cover;
  rotate: 180deg;
}
.bottomDividerDark {
  position: relative;
  top: -10px;
  background-image: url(../../images/divider/darkFooter.png);
  width: 100%;
  height: 307px;
  background-repeat: no-repeat;
  background-size: cover;
  rotate: 180deg;
}

@media (max-width: 1200px) {
  .topDividerLight {
    background-position: 0 0;
  }
  .topDividerDark {
    background-position: 0 0;
  }
}

@media (max-width: 1200px) {
  .box {
    height: 1700px;
  }
}

@media (max-width: 750px) {
  .box {
    height: 1570px;
  }
}

@media (max-width: 450px) {
  .box {
    height: 1520px;
  }
}
