.boxLight {
  background-image: url(../../images/hero-images/hero-image-light.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -150px;
  height: 916px;
  width: 100%;
}

.boxDark {
  background-image: url(../../images/hero-images/hero-image-dark.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -150px;
  height: 916px;
  width: 100%;
}

.textLight {
  position: absolute;
  top: 200px;
  left: 190px;
  font-family: "Wix Madefor Text";
  font-weight: 800;
  font-size: 80px;
  color: #32437b;
  text-transform: uppercase;
}

.textDark {
  position: absolute;
  top: 200px;
  left: 190px;
  font-family: "Wix Madefor Text";
  font-weight: 800;
  font-size: 80px;
  text-transform: uppercase;
  color: #070709;
}

.animationContainerLight {
  position: absolute;
  top: 200px;
  left: 190px;
  font-size: 80px;
  font-weight: 800;
  text-transform: uppercase;
  color: #f1f1f1;
  font-family: "Wix Madefor Text";
}

.animationContainerDark {
  position: absolute;
  top: 200px;
  left: 190px;
  font-size: 80px;
  font-weight: 800;
  text-transform: uppercase;
  color: #d76f00;
  font-family: "Wix Madefor Text";
}

.animation {
  height: 100px;
  overflow: hidden;
}

.animation > div > div {
  padding: 0.25rem 0.75rem;
  height: 100px;
  margin-bottom: 2.81rem;
  display: inline-block;
}

.animation div:first-child {
  animation: text-animation 8s infinite;
}

.firstLight div {
  background-color: #32437b;
}
.secondLight div {
  background-color: #2c5f4e;
}
.thirdLight div {
  background-color: #eca956;
}

.firstDark div {
  background-color: #0a0404;
}
.secondDark div {
  background-color: #ffde91;
}
.thirdDark div {
  background-color: #944304;
}

@keyframes text-animation {
  0% {
    margin-top: 0;
  }
  10% {
    margin-top: 0;
  }
  20% {
    margin-top: -9.55rem;
  }
  30% {
    margin-top: -9.55rem;
  }
  40% {
    margin-top: -18.54rem;
  }
  60% {
    margin-top: -18.54rem;
  }
  70% {
    margin-top: -9.55rem;
  }
  80% {
    margin-top: -9.55rem;
  }
  90% {
    margin-top: 0;
  }
  100% {
    margin-top: 0;
  }
}

@media (max-width: 1200px) {
  .animationContainerLight {
    font-size: 60px;
  }
  .animationContainerDark {
    font-size: 60px;
  }
  .animation {
    height: 75px;
  }
  @keyframes text-animation {
    0% {
      margin-top: 0;
    }
    10% {
      margin-top: 0;
    }
    20% {
      margin-top: -9.35rem;
    }
    30% {
      margin-top: -9.35rem;
    }
    40% {
      margin-top: -18.54rem;
    }
    60% {
      margin-top: -18.54rem;
    }
    70% {
      margin-top: -9.35rem;
    }
    80% {
      margin-top: -9.35rem;
    }
    90% {
      margin-top: 0;
    }
    100% {
      margin-top: 0;
    }
  }
}

@media (max-width: 1000px) {
  .boxLight {
    background-position: 0px -40px;
  }
  .boxDark {
    background-position: 0px -40px;
  }
}

@media (max-width: 890px) {
  .boxLight {
    background-position: -150px -40px;
  }
  .animationContainerLight {
    top: 90px;
    left: 90px;
  }
  .animationContainerDark {
    top: 90px;
    left: 90px;
  }
  .boxDark {
    background-position: -250px -40px;
  }
}

@media (max-width: 650px) {
  .boxLight {
    background-position: -420px 0px;
  }
  .animationContainerLight {
    left: calc((100% - 380px) / 2);
  }
  .boxDark {
    background-position: -600px -120px;
  }
  .animationContainerDark {
    left: calc((100% - 380px) / 2);
  }
}

@media (max-width: 450px) {
  .animationContainerLight {
    font-size: 50px;
    left: calc((100% - 320px) / 2);
    top: 110px;
  }
  .animationContainerDark {
    font-size: 50px;
    left: calc((100% - 320px) / 2);
    top: 110px;
  }
  .animation {
    height: 70px;
  }
  .boxLight {
    background-position: -540px 0px;
  }
  .boxDark {
    background-position: -670px -120px;
  }
}

@media (max-width: 370px) {
  .animationContainerLight {
    font-size: 34px;
    left: calc((100% - 261px) / 2);
  }
  .animationContainerDark {
    font-size: 34px;
    left: calc((100% - 261px) / 2);
  }
  .animation {
    height: 50px;
  }
  .boxLight {
    background-position: -595px 0px;
  }
}
