.box {
  position: relative;
  top: -100px;
  width: 100%;
  height: 207px;
}

.footerWaves {
  height: 390px;
  width: 100%;
  margin: 0px;
}

.content {
  position: relative;
  top: -80px;
  background-color: #f8ebe2;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.heading {
  font-family: "Hannari";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -0.5px;
  color: #494e5f;
  margin: 0px;
}

.icon {
  fill: #494e5f;
}
.icon:hover {
  fill: white;
}

.text {
  font-family: "Hannari";
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #242b37;
  margin-left: 30px;
}

.contactBox {
  display: flex;
  flex-direction: row;
  align-items: center;
}
