.boxLight {
  width: 100%;
  height: 307px;
  background-image: url(../../images/divider/lightFooter.png);
  background-repeat: no-repeat;
  margin-top: -100px;
}

.boxDark {
  width: 100%;
  height: 307px;
  background-image: url(../../images/divider/darkFooter.png);
  background-repeat: no-repeat;
  margin-top: -100px;
}

.contentLight {
  position: relative;
  top: 200px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: #494e5f;
}

.contentDark {
  position: relative;
  top: 200px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: #f1f1f1;
}

.textBox {
  display: flex;
  flex-direction: row;
}

.heading {
  font-family: "Wix Madefor Text";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -0.5px;
  margin: 0px;
}

.iconLight {
  fill: #494e5f;
  width: 55px;
  height: 55px;
}
.iconLight:hover {
  fill: white;
}

.iconDark {
  width: 55px;
  height: 55px;
  fill: #f1f1f1;
}
.iconDark:hover {
  fill: #d76f00;
}

.text {
  font-family: "Wix Madefor Text";
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  margin-left: 30px;
}
.copiedAlertEmail {
  background: #494e5f;
  color: #f8ebe2;
  border-radius: 4px;
  content: "Copied!";
  bottom: 50px;
  position: absolute;
  padding: 10px;
  text-align: center;
  opacity: 1;
  transition: opacity 1s linear;
  -webkit-transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
}

.copiedAlertHiddenEmail {
  background: #494e5f;
  color: #f8ebe2;
  border-radius: 4px;
  content: "Copied!";
  bottom: 50px;
  position: absolute;
  padding: 10px;
  text-align: center;
  opacity: 0;
  transition: opacity 1s linear;
  -webkit-transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
}

.copiedAlertPhone {
  background: #494e5f;
  color: #f8ebe2;
  border-radius: 4px;
  content: "Copied!";
  bottom: 50px;
  position: absolute;
  padding: 10px;
  text-align: center;
  opacity: 1;
  transition: opacity 1s linear;
  -webkit-transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
}

.copiedAlertHiddenPhone {
  background: #494e5f;
  color: #f8ebe2;
  border-radius: 4px;
  content: "Copied!";
  bottom: 50px;
  position: absolute;
  padding: 10px;
  text-align: center;
  opacity: 0;
  transition: opacity 1s linear;
  -webkit-transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
}

.contactBox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contactBox:nth-child(2) {
  margin-left: 100px;
}

@media (max-width: 1000px) {
  .boxLight {
    background-position: -200px 20px;
  }
  .boxDark {
    background-position: -200px 20px;
  }
  .iconLight {
    width: 45px;
    height: 45px;
  }
  .iconDark {
    width: 45px;
    height: 45px;
  }
}

@media (max-width: 700px) {
  .heading {
    font-size: 20px;
  }
  .text {
    font-size: 12px;
  }
  .iconDark {
    width: 35px;
    height: 35px;
  }
  .iconLight {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 580px) {
  .textBox {
    flex-direction: row;
  }
  .contactBox:nth-child(2) {
    margin-left: 30px;
  }
}
