body {
  height: 100%;
  margin: 0;
  font-family: "Jost";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Jost";
}
ul {
  list-style-type: none;
  padding: 4px;
  margin: 4px;
}
